<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="vue/vue.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
</head>

<body>

    <div class="app">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label for="">
                    Id:
                    <input type="text" name="" id="" class="form-control" v-model="id">
                </label>

                <label for="">
                    Name:
                    <input type="text" class="form-control" v-model="name" @keyup.enter="add">
                </label>

                <input type="button" value="添加" class="btn btn-primary" @click="add()">

                <label>
                    搜索关键字:
                    <input type="text" class="form-control" v-model='keywords' v-focus v-color="'#666'">
                </label>
            </div>
        </div>

        <table class="table table-bordered table-striped table_hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Time</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.time | dataFormat('')}}</td>
                    <td><a href="" @click.prevent='del(item.id)'>删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        /************  全局过滤器 ***********************/
        Vue.filter('dataFormat', function (datestr, pattern) {
            var dt = datestr;
            var y = dt.getFullYear();
            var m = dt.getMonth() + 1;
            var d = dt.getDate();

            if (pattern && pattern.toLowerCase() === 'yyyy-mm-dd')
                return `${y}-${m}-${d}`;
            else {
                var hh = dt.getHours();
                var mm = dt.getMinutes();
                var ss = dt.getSeconds();

                return `${y}-${m}-${d}  ${hh}:${mm}:${ss}`;
            }
        });

        /************ 自定义全局按键修饰符 **********************/
        Vue.config.keyCodes.f1 = 112;

        /************** 自定义 *******************/
        // 参数1：指令的名称不加v- 调用时加v-  参数2：是一个对象
        Vue.directive('focus', {
            //   bind:function(){}, //指令绑定到元素上的时候执行，只执行一次

            inserted: function (el) {   //元素插入到DOM中时触发，【触发一次】 
                //第一个参数 el 表示被绑定指令的元素
                el.focus();
            }

            //  update:function(){}     // vnode更新时触发，可能触发多次
        })

        var vm = new Vue({
            el: '.app',
            data: {
                id: '',
                name: '',
                keywords: '',
                list: [
                    { id: 1, name: '奔驰', time: new Date() },
                    { id: 2, name: '宝马', time: new Date() },
                    { id: 3, name: '奥迪', time: new Date() }
                ]
            },
            methods: {
                add: function () {
                    var car = { id: this.id, name: this.name, time: new Date() };
                    this.list.push(car);
                    this.id = this.name = '';
                },

                del: function (id) {
                    this.list.some((item, i) => {
                        if (item.id == id) {
                            this.list.splice(i, 1);
                            return true;
                        }
                    });
                },

                search: function (keywords) {
                    /*
                    var rtlist=[];
                    this.list.forEach(item=>{
                        if(item.name.indexOf(keywords) != -1)
                            rtlist.push(item);
                    });
                    
                    return rtlist;
                    */
                    //foreach  some  filter  findindex
                    //都会对数组中的每一项进行遍历

                    return this.list.filter(item => {
                        if (item.name.includes(keywords))
                            return item;
                    })

                }
            },

            /*********************  私有过滤器 **************************/
            filters: {
                dataFormat: function (datestr, pattern) {
                    var dt = datestr;
                    var y = dt.getFullYear();
                    var m = (dt.getMonth() + 1).toString().padStart(2, '0');
                    var d = dt.getDate().toString().padStart(2, '0');

                    if (pattern && pattern.toLowerCase() === 'yyyy-mm-dd')
                        return `${y}-${m}-${d}`;
                    else {
                        var hh = dt.getHours().toString().padStart(2, '0');
                        var mm = dt.getMinutes().toString().padStart(2, '0');
                        var ss = dt.getSeconds().toString().padStart(2, '0');

                        return `${y}-${m}-${d}  ${hh}:${mm}:${ss}`;
                    }
                }
            },

            directives: {
                'color': function (el,binding) {
                    el.style.color = binding.value;
                }
            }

        });
    </script>
</body>

</html>