$border:1px solid red;

*{
    margin: 0;
    padding: 0;
}

.box{
    width: 300px;
    height: 500px;
    border: $border;
    position: relative;
    top: 50px;
    left: 100px;
    overflow: hidden;

    .content{
        width: 95%;
        position: absolute;
        top: 0;
        left: 0;
        user-select: none;
    }

    .scroll{
        height: 100%;
        width: 5%;
        background: {
            color: #ccc;
        }
        position: absolute;
        top: 0;
        right: 0;
        //pointer-events: none;

        .bar{
            width: 100%;
            top: 0;
            left: 0;
            background-color: red;
            border-radius: 10px;
            position: absolute;
            pointer-events: none;
        }
    }
}